* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid rgb(213, 213, 213);
}

header a {
  color: black;
  text-decoration: none;
}
header button {
  padding: 0.5rem;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 0.5rem;
  background-color: rgb(230, 185, 5);
  cursor: pointer;
  margin-left: 2rem;
}

header ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.tours {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  align-items: center;
  gap: 2rem;
}

.tours .tourCard {
  flex-basis: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 0.5rem;
  background-color: aliceblue;
  box-shadow: rgb(213, 213, 213);
}

.tours .tourCard img {
  width: 100%;
  height: 15rem;
}

.tourCard .tourInfo {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 1rem;
  color: black;
  text-decoration: none;
  padding: 1rem;
}
a {
  text-decoration: none;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}
.form form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form form div input,
.form button {
  padding: 0.5rem;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 0.5rem;
  width: 100%;
}

.form button {
  background-color: rgb(230, 185, 5);
  cursor: pointer;
}

/* Dashboard.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.dashboard {
  display: grid;
  height: 100vh;
  grid-template-columns: 20% 1fr;
}

.dashboard-header {
  background-color: #ffffff;
  color: black;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.logout {
  margin-left: 50%;
  cursor: pointer;
}

.dashboard-header h1 {
  margin: 0;
  font-size: 28px;
  margin-bottom: 10px;
}

.dashboard-header p {
  margin: 0;
  font-size: 16px;
}

.dashboard-sidebar {
  width: 250px;
  background-color: #eff7ff;
  padding: 20px;
  border-right: 1px solid #bdc3c7;
}

.sidebar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sidebar-link svg {
  margin-right: 10px;
}

.sidebar-link:hover {
  background-color: rgb(230, 185, 5);
}

.dashboard-content {
  flex-grow: 1;
  min-height: 90vh;
  background-color: #ecf0f1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Optional: Styles for active link */
.sidebar-link.active {
  background-color: #2980b9;
}

.sidebar-link.active:hover {
  background-color: #2980b9;
}

.single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
